.contentBody {
  background: url(../img/bg.jpg) no-repeat;
  height: 565px;
  margin-top: -23px;
}

.midcont {
  height: 514px !important;
  padding: 15px;
}
#dvLbl {
  height: 28px;
}
#ullist {
  height: auto;
  max-height: 342px;
  width: 90%;
}

#lblStaticMsg {
  float: left;
  width: 100%;
  color: #007db0;
  font-size: 22px;
  font-weight: 100;
}

#builDates {
  float: left;
  width: 100%;
  margin-top: -32px;
  line-height: 22px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal !important;
}

#dvGrid {
  width: 72%;
  float: right;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
